# API Base URLs
VITE_API_URL_AUTH=http://localhost:8000/api/v1/auth
VITE_API_URL_RESTAURANT=http://localhost:9000/api/v1/restaurants
VITE_API_URL_MENU=http://localhost:9000/api/v1/menu
VITE_API_URL_CART=http://localhost:9000/api/v1/cart
VITE_API_URL_ADDRESS=http://localhost:9000/api/v1/address
VITE_API_URL_ORDER=http://localhost:9000/api/v1/orders
VITE_API_URL_PAYMENT=http://localhost:8888/api/v1/payment
VITE_API_URL_REALTIME_SOCKET=http://localhost:9999
VITE_API_URL_RIDER=http://localhost:7000/api/v1/riders
VITE_API_URL_ADMIN=http://localhost:6001/api/v1/admin

# Third-Party Keys
VITE_STRIPE_PUBLISHABLE_KEY=
VITE_GOOGLE_CLIENT_ID=
