PORT=8500

RABBITMQ_URL=amqp://admin:admin123@localhost:5672
EMAIL_QUEUE=email_queue

GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REDIRECT_URI=https://developers.google.com/oauthplayground
GMAIL_REFRESH_TOKEN=
EMAIL_FROM_ADDRESS=your-gmail@gmail.com
EMAIL_FROM_NAME=Kravix

CLIENT_URL=http://localhost:5173
