# ── Rider Service Environment Variables ──
# Copy this file to .env and fill in your values

PORT=7000

ALLOWED_ORIGINS=http://localhost:5173

# MongoDB
MONGO_URI=
DB_NAME=abarkhabo_db

# Authentication
JWT_SECRET=
INTERNAL_SERVICE_KEY=

# RabbitMQ
RABITMQ_URL=amqp://admin:admin123@localhost:5672
ORDER_READY_QUEUE=order_ready_queue
RIDER_QUEUE=rider_oueue
RIDER_SEARCH_RADIUS_METERS=500

# Inter-Service URLs
RESTAURANT_SERVICE_URI=http://localhost:9000
UTILS_SERVICE_URI=http://localhost:8888
REALTIME_SOCKET_SERVICE_URI=http://localhost:9999
